<!DOCTYPE html>
<html>
  <head>
    <title>MovieDatabase</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


  </head>

  <body>

    <header class="header" href="./movies">
    </header>

    <div class="banner">
      <!-- Here comes the banner -->
          <h1 class="banner-title">MovieVault</h1>
        <h2 class="banner-subtitle">Your favorite Movie Database</h2>
            <%= link_to 'Home', root_path %>
    </div>

    <%= yield %>

  </body>
</html>
